h1 {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
}

.options {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.resolutionOption {
    margin: 10px;
}

.colorOption {
    margin: 10px;
}

.refreshButton {
    margin: 10px;
}

.refreshButton button {
    display: block;
    margin: auto;
}